.wrapper {
	width: 80%;
	min-height: 140px;
	background-color: var(--secondary);
	border-radius: var(--border-radius);
	padding: 20px;
	font-size: var(--text-size-normal);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	user-select: none;
	color: var(--background-deep);
	font-weight: 400;
	border: none;
	transition: all 0.3s;
	overflow: hidden;
	position: relative;
}

.wrapper:hover {
	transform: scale(0.95);
}

.wrapper:active {
	transform: scale(0.9);
}

.logo {
	transform: scale(3.5) rotate(10deg);
	position: absolute;
	left: 40px;
	top: 60px;
	opacity: 0.4;
	transition: all 0.2s;
}

.wrapper:hover .logo {
	transform: scale(3.5) rotate(-15deg);
}

.wrapper:active .logo {
	transform: scale(4.5) rotate(-15deg);
}
