.wrapper {
	display: flex;
	gap: 12px;
}

.single_category {
	border: none;
	border-radius: var(--border-radius);
	padding: 6px 18px;
	transition: all 0.2s;
	font-weight: bold;
	color: var(--background-deep);
}

.single_category:hover {
	transform: scale(0.95);
	cursor: pointer;
}

.single_category:active {
	transform: rotate(-5deg);
}

.selected {
	text-decoration: underline;
	box-shadow: 0 0 50px -10px var(--quaternary);
}

@media only screen and (max-width: 1200px) {
	.wrapper {
		width: 95%;
		height: auto;
		margin: 0 auto;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.wrapper>h2 {
		text-align: center;
		font-size: var(--text-size-normal);
		padding: 20px;
	}

	.single_category {
		padding: 6px;
		transition: all 0.2s;
		font-weight: bold;
		font-size: var(--text-size-small);
		width: 45%;
		margin: 0 auto;
	}
}
