.actions {
	display: flex;
	gap: 48px;
	padding: 18px;
	animation: bouncing 2s infinite;
}

.task,
.question {
	font-size: var(--text-size-normal);
	border: none;
	border-radius: var(--border-radius);
	padding: 12px 36px;
	transition: all 0.2s;
	color: white;
}

.task {
	background-color: var(--quinary);
	box-shadow: 0px 0px 50px -10px var(--quinary);
}

.question {
	background-color: var(--secondary);
	box-shadow: 0px 0px 50px -10px var(--secondary);
}

@keyframes bouncing {
	0% {
		transform: translateY(5px);
	}

	50% {
		transform: translateY(0px);
	}

	100% {
		transform: translateY(5px);
	}
}

@media only screen and (max-width: 1200px) {
	.actions {
		display: flex;
		flex-direction: column;
		gap: 24px;
		padding: 18px;
		width: 100%;
		animation: bouncing 2s infinite;
	}
}

@media not (hover: none) {

	.task:hover,
	.question:hover {
		transform: scale(1.05);
		cursor: pointer;
	}

	.task:active,
	.question:active {
		transform: scale(0.9);
	}
}
